In [65]:
import os
import pandas as pd
from IPython.display import display, Markdown
from collections import defaultdict

In [66]:
# Define the directory path
directory = r'.\output'

# Get all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Create a defaultdict to store the counts for each file
file_cluster_counts = {}

In [67]:
# Iterate through each CSV file
for file_name in csv_files:
    file_path = os.path.join(directory, file_name)
    with open(file_path, 'r') as file:
        lines = file.readlines()
        file_counts = defaultdict(int)
        for line in lines:
            # Splitting the line and counting occurrences
            try:
                actual, algorithm = map(int, line.strip().split(','))
            except Exception as ex:
                print(line)
                print(file)
                
            file_counts[(actual, algorithm)] += 1
    # Store counts for each file
    file_title = file_name.replace('.csv', '')
    file_cluster_counts[file_title] = file_counts

In [70]:
# Convert the defaultdicts to DataFrames with appropriate titles
tables = {}
for file_title, counts in file_cluster_counts.items():
    tables[file_title] = counts

# Display each table with its respective title
for file_title, table in tables.items():
    display(Markdown(f"### Table: {file_title}"))  # Add Markdown title
    a = pd.DataFrame(columns=[1,2,3, "Total"])
    for i in table:
        a.loc[i[1],i[0]] = table[i]
    a['Total'] = a.sum(axis=1)
    a.fillna(0, inplace=True)
    display(a)

### Table: centroid

     1    2    3 Total
1  168  173  355   696
2   15    0    0    15
3    3    0    0     3

### Table: centroid_standard

     1   2    3 Total
1   61  84  215   360
2  122  83   85   290
3    3   6   55    64

### Table: median

     1    2    3 Total
1  168  173  355   696
2   15    0    0    15
3    3    0    0     3

### Table: median_standard

     1   2    3 Total
1   61  84  215   360
2  122  83   85   290
3    3   6   55    64

### Table: ward

     1    2    3 Total
1   55  166  346   567
2  113    7    9   129
3   18    0    0    18

### Table: ward_standard

    1   2    3 Total
1  61  84  215   360
2  85  74  102   261
3  40  15   38    93